.conteudoPrincipal {
    display: flex;
    padding-top: 2.5rem;
    padding-right: 10rem;
}

.conteudoEscrito {
    background-color: yellow;
    width: 750px;
    height: 600px;
    background-repeat: no-repeat;

}

.imgHomemArnaha {
    background-color: green;
    width: 750px;
    height: 600px;
}