.conteudoPrincipal {
    display: flex;
    padding-top: 2.5rem;
    padding-right: 10rem;
}

.conteudoEscrito {
    background-color: yellow;
    background-image: url(../img//logoAranha.png);
    width: 750px;
    height: 600px;
}

.imgHomemArnaha {
    background-color: green;
    width: 750px;
    height: 600px;
}