.conteudoPrincipal {
    display: flex;
    padding-top: 2.5rem;
  
}

.conteudoEscrito {
    background-color: yellow;
    width: 700px;
    height: 600px;
}

.imgHomemArnaha {
    background-color: green;
    width: 700px;
    height: 600px;
}