.conteudoPrincipal {
    display: flex;
    padding-top: 2.5rem;
    padding-right: 10rem;
}

.tituloHomemAranhConteudoDaEsquerda{

}

.imgDeFundo {
    transform: translate(-150px, -80px);
    width: 690px;
}

.conteudoEscrito {
    width: 750px;
    height: 600px;
    background-repeat: no-repeat;

}

.imgHomemArnaha {
    background-color: green;
    width: 750px;
    height: 600px;
}