.conteudoPrincipal {
    display: flex;
    padding-top: 1rem;
}

.conteudoEscrito {
    background-color: yellow;
    width: 600px;
    height: 600px;
}

.imgHomemArnaha {
    background-color: green;
    width: 600px;
    height: 600px;
}