.conteudoPrincipal {
    display: flex;
    padding-top: 2.5rem;
    padding-left: 5rem;
}

.conteudoEscrito {
    background-color: yellow;
    width: 600px;
    height: 600px;
}

.imgHomemArnaha {
    background-color: green;
    width: 600px;
    height: 600px;
}