@import url("../fonts/Montserrat.css");

.conteudoPrincipal {
    display: flex;
    padding-top: 2.5rem;
    padding-right: 10rem;
}

.tituloHomemAranhConteudoDaEsquerda {
    transform: translate(150px, 40px);
}

.imgDeFundo {
    transform: translate(-150px, -100px);
    width: 700px;
}

.conteudoEscrito {
    width: 750px;
    height: 600px;
    background-repeat: no-repeat;

}

.imgHomemArnaha {
    width: 750px;
    height: 600px;
}

.descricaoJogo {
    color: #fff;
    font-family: 'Montserrat';
    transform: translate(-10px, -670px);
    line-height: 30px;
}

.imgHomemAranha {
    width: 1000px;
    transform: translate(-210px, -70px);
}