@import url("../fonts/Montserrat.css");

.header {
    display: flex;
}

.ulHeader {
    display: flex;
    gap: 20px;
}

/* .listaHeader {
    gap: 20px;
} */

.linkListaHeader {
    text-decoration: none;
    color: red;
}