@import url("../fonts/Montserrat.css");

.header {
    display: flex;
    padding-top: 1.5rem;
}

.ulHeader {
    display: flex;
    gap: 20px;
    padding-top: 1rem;
    padding-left: ;
}

/* .listaHeader {
    gap: 20px;
} */

.linkListaHeader {
    text-decoration: none;
    color: red;
    font-family: 'Montserrat';
}