body {
    height: 100%;
    background: linear-gradient(135deg,
            #8B0000 50%,
            /* DarkRed */
            #000080 50%
            /* Navy */
        );

    background-position: fixed;
}